body {
  background-color: #D1D1D1;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding-top: 15px;
  text-align: center;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

label {
  font-size: 2rem;
}

.form-control {
  height: 5rem;
  font-size: 2rem;
}

.border {
  color: white;
}

.cardstyle {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 12px;
  background-color: white;
  margin: 0.2rem 1rem;
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
}

.col-lg-2 {
  padding: 1.8rem 2rem;
}

.debug-btn {
  background-color: #4B8F8F;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  width: 30%;
  height: 70px;
}

.debug-footer-text {
  color: black;
  font-size: 1.5rem;
}

.footer {
  padding: 2rem 2rem;
  background-color: white;
  text-align: center;
}

.h1-title {
  padding: 1rem 1rem 1rem 2rem;
  background-color: #81B8C1;
  color: white;
}

.header {
  padding: 0.5rem 1rem 1rem 2rem;
  background-color: white;
}

.modal-content {
  background-color: white;
  margin: 2% auto;
  /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 90%;
  /* Could be more or less, depending on screen size */
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
}

.modal-primary-btn {
  background-color: #4B8F8F;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100px;
}

.modal-secondary-btn {
  background-color: #A5CBD1;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100px;
}

.modal-fields {
  margin: 1rem;
}

.navigation {
  font-size: 18px;
  text-align: center;
}

.rowstyle {
  margin: 1rem;
}

.start-game {
  background-color: #A5CBD1;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 8px -7px rgba(0, 0, 0, 0.35);
  color: white;
}

.wordcard {
  font-size: 2rem;
}
